@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title.css);
@import url(../blocks/header/__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image.css);
@import url(../blocks/profile/__info.css);
@import url(../blocks/profile/__name.css);
@import url(../blocks/profile/__job.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/element.css);
@import url(../blocks/elements/__info.css);
@import url(../blocks/elements/__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth.css);
@import url(../blocks/button/__edit.css);
@import url(../blocks/button/__add.css);
@import url(../blocks/button/__like.css);


@font-face {
    font-family: "Inter";
    src:  url(.//vendor/fonts/Inter-Regular.woff) format("wof"),
    url(.//vendor/fonts/Inter-Regular.woff2) format("woff2");
}

.popup {
    display: none;
}

.popup__overlay{
    opacity: .7;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100wh;
    height: 100vh;
}

.popup_show{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup__content{
    width: 430px;
    height: 330px;
    flex-shrink: 0;
    z-index: 1;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);

}

.popup__button-close{
    z-index: 1;
    border: none;
    background: none;
    margin-left: 50%;
}

.popup__form{
    color: black;
}

.popup__set{
    border:none;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 0;
    padding: 0;
}

.popup__title{
    width: 330px;
    height: 23px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 34px 64px 54px 34px;
    margin: 0;
}

.form__input{
    width: 358px;
    height: 14px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-left: 36px;
}

.line{
    width: 358px;
    height: 1px;
    opacity: 0.2;
    background: #000;
    margin-left: 36px;
    margin-bottom: 26px;
}
.save{
    width: 358px;
    height: 50.152px;
    border-radius: 2px;
    background: #000;
    margin-left: 36px;
}

.text__save{
    width: 109px;
    height: 18px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}