@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title.css);
@import url(../blocks/header/__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__image.css);
@import url(../blocks/profile/__info.css);
@import url(../blocks/profile/__name.css);
@import url(../blocks/profile/__hobbie.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/element.css);
@import url(../blocks/elements/__info.css);
@import url(../blocks/elements/__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth.css);
@import url(../blocks/button/__edit.css);
@import url(../blocks/button/__add.css);
@import url(../blocks/button/__like.css);


@font-face {
    font-family: "Inter";
    src:  url(.//vendor/fonts/Inter-Regular.woff) format("wof"),
    url(.//vendor/fonts/Inter-Regular.woff2) format("woff2");
}

.popup {
    display: none;
}

.popup__overlay{
    opacity: .7;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.popup_show{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup__content{
    width: 430px;
    background-color: white;
    z-index: 1;

}