.profile__info{
    width: 415px;
    height: 77px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 27px;
    padding-top: 22px;
}

@media screen and (max-width:767px){
    .profile__info{
         align-items: center;
         width: 240px;
         height: 50px;
         padding-bottom: 36px;
    }
}