.profile{
    width: 880px;
    height: auto;
    display: flex;
    padding-top: 37px;
    margin: auto;
}

@media screen and (max-width:320px){
    .profile{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}