.elements{
    display: flex;
    width: 880px;
    height: 744px;
    margin: auto;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 48px;
    row-gap: 20px;
}

@media screen and (max-width:767px){
    .elements{
        width: 282px;
        height: auto;
        row-gap: 20px;
    }

}

.element{
    display: flex;
    width: 282px;
    height: 361px;
    border-radius: 10px;
    background: #FFF;
    flex-direction: column;
}

.element__info{
    display: flex;
    width: 246px;
    justify-content: space-between;
    padding-left: 21px;
}

.element__title{
    color: #000;
    font-family: Inter;
    height: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.element__image{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
