.form_input{
    width: 358px;
    height: 14px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-left: 36px;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

.form_input_has-error{
    border-bottom: 1px solid red;
}
.form_error{
    color:red;
    width: 358px;
    margin-left: 36px;
    font-size: 12px;

}

@media screen and (max-width:767px){
    .form_input{
        width: 238px;
        height: 14px;
        margin-left: 22px;
    }
}