.page{
    width: 100%;
    height: 1261px;
    background: #000000;
    font-family: "Inter", Helvetica Neue, Arial, sans-serif;
    margin: 0 auto;
}

@media screen and (max-width:767px){
    .page{
        width: 100%;
        height: auto;
    }
}