.popup {
    display: none;
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup__content{
    width: 430px;
    height: 330px;
    z-index: 1;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:767px){
    .popup__content{
        width: 282px;
        height: 322px;
    } 
}

.container{
    width: 430px;
    height: 330px;
    z-index: 1;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:767px){
    .container{
        width: 282px;
        height: 322px;
    } 
}

.popup__overlay{
    opacity: .7;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.popup__button-close{
    z-index: 1;
    border: none;
    background: none;
    margin-left: 30%;
}

@media screen and (max-width:767px){
    .popup__button-close{
        width: 26px;
        height: 26px;
        padding: 0;
        margin-bottom: 15px;
        margin-left: 80%;
    }
}

.popup__button-close_type_traslate:hover{
    opacity: .6;
    cursor: pointer;
}

.popup_show{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup__set{
    border:none;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin: 0;
    padding: 0;
}

.popup__form{
    color: black;
}

.popup__title{
    width: 330px;
    height: 23px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 34px 64px 54px 34px;
    margin: 0;
}

@media screen and (max-width:767px){
    .popup__title{
        width: 238px;
        font-size: 18px;
        padding: 25px 22px 55px;
    }
}

.popup_show_add{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.popup__content_image{
    width: 433px;
    height: 540px;
    z-index: 1;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
} 