.profile{
    width: 880px;
    height: auto;
    display: flex;
    padding-top: 37px;
    margin: auto;
}

@media screen and (max-width:767px){
    .profile{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
}

.profile__image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width:767px){
    .profile__image{
     width: 130px;
     height: 130px;
  }
}

.profile__info{
    width: 415px;
    height: 77px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 27px;
    padding-top: 22px;
}

@media screen and (max-width:767px){
    .profile__info{
         align-items: center;
         width: 240px;
         height: 50px;
         padding-bottom: 36px;
    }
}

.profile__name{
    width: 373px;
    color: #FFF;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 114.286% */
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width:767px){
    .profile__name{
        width: 196px;
        height: 22px;
        font-size: 22px;
        line-height: normal;
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

.profile__job{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

@media screen and (max-width:767px){
    .profile__job{
        height: 14px;
        padding-top: 14px;
        text-align: center;
        font-size: 14px;
    }
}