.save{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 358px;
    height: 50.152px;
    border-radius: 2px;
    background: #000;
    margin-left: 36px;
    margin-top: 25px;
}

.save_type_traslate:hover{
    opacity: .8;
    cursor: pointer;
}

.save_disabled {
    background: lightgray;
}

@media screen and (max-width:767px){
    .save{
        width: 238px;
        height: 46px;
        margin-left: 22px;
    }
}