.elements{
    display: flex;
    width: 880px;
    height: 744px;
    margin: auto;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 48px;
    row-gap: 20px;
}

@media screen and (max-width:320px){
    .elements{
        width: 282px;
        height: auto;
        row-gap: 20px;
    }

}
