.popup__title{
    width: 330px;
    height: 23px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 34px 64px 54px 34px;
    margin: 0;
}

@media screen and (max-width:767px){
    .popup__title{
        width: 238px;
        font-size: 18px;
        padding: 25px 22px 55px;
    }
}